/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  /* сохраните в разметке и стилях класс page у тега body. Он удобен, чтобы составлять селекторы для разных цветовых тем. */
  background-image: var(--cover-image);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  block-size: 100%;
}

.header {
  display: grid;
  grid-template-rows: 1fr min-content 1fr;
  /* пока оставлю так, чтобы было удобно делать pixel perfect */
  min-block-size: 668px;
  max-block-size: 100vh;
  /* но должно быть так */
  /* min-height: max(100vh, 668px); */
  padding: var(--header-padding);
  position: relative;
}

.decorated-zone__header::before,
.decorated-zone__footer::before  {
  content: '';
  display: block;
  position: absolute;
  right: 10px;
  top: 10px;
  inline-size: 25px;
  block-size: 25px;
  border-top: 1px solid var(--accent-color);
  border-right: 1px solid var(--accent-color);
}


.decorated-zone__header::after,
.decorated-zone__footer::after {
  content: '';
  display: block;
  position: absolute;
  inline-size: 25px;
  block-size: 25px;
  bottom: 10px;
  left: 10px;
  border-bottom: 1px solid var(--accent-color);
  border-left: 1px solid var(--accent-color);
}

.header__rec {
  text-transform: uppercase;
  color: var(--accent-color);
  position: absolute;
  font-weight: var(--font-weight__light);
  font-family: var(--font);
  font-size: var(--font-size);
  line-height: 25px;
  top: 10px;
  right: 38px;
}

.header__rec::before {
  content: 'REC';
}

.header__rec::after {
  content: '';
  display: block;
  position: absolute;
  top: 50%;
  left: 100%;
  transform: translate(10px, -50%);
  width: 9px;
  height: 9px;
  border-radius: 50%;
  background-color: var(--accent-color);
  box-shadow: 0 0 4px 2px var(--accent-color);
}

.header__theme-menu {
  grid-row: 1;
  justify-self: end;
  align-self: center;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: 10px; 
}

.header__theme-menu-button {
  padding: var(--menu-button__padding);
  color: var(--accent-color);
  text-transform: lowercase;
  font-family: var(--font); 
  font-weight: var(--font-weight__light);
  font-size: var(--font-size);
  line-height: var(--line-height__menu);
  border: none;
  background: none;
  min-block-size: var(--menu-button__button-height);
}

.header__theme-menu-button:hover {
  outline: 1px solid var(--button-color__outline);
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:focus-visible {
  outline: none;
  border-bottom: 1px solid;
}

/* добавила также ховер для активной кнопки, чтобы не прыгал цвет обводки */
.header__theme-menu-button_active:hover {
  outline: 1px solid var(--accent-color);
}

.header__theme-menu-button_active {
  outline: 1px solid var(--accent-color);
}

.header__title {
  grid-row: 2;
  text-shadow: 4px 4px 0 var(--accent-color);
  align-self: end;
}

.title__big {
  color: var(--title-color);
  text-transform: lowercase;
  font-weight: var(--font-weight__bold);
  font-family: var(--font);
  font-size: var(--font-size__title);
  line-height: var(--line-height__title);
  justify-self: center;
}

.header__sub-title {
  grid-row: 3;
  justify-self: center;
  align-self: center;
}

.title__content {
  font-family: var(--font);
  font-size: var(--font-size);
  line-height: var(--line-height__text);
}

.title-decor {
  color: var(--text-color__with_background);
  background-color: var(--accent-color); 
}

.main-content {
  display: flex;
  flex-direction: column;
  gap: 50px;
  padding: var(--main-content__padding);
}

.content-section {
  display: grid;
  gap: 20px;
}

.section-title {
  color: var(--accent-color);
  font-family: var(--font);
  font-size: var(--font-size);
  line-height: var(--line-height__text);
  font-weight: var(--font-weight__bold);
}

.article-wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.article-title {
  margin-block-end: var(--article-title__bottom-margin);
}

.article__sub-title {
  font-weight: var(--font-weight__light);
  margin-block-end: var(--article-title__bottom-margin);
}

.article-title:has(+ .article__sub-title) {
  margin-block-end: 20px;
}

.article-text {
  color: var(--article-text__color);
  font-family: var(--font);
  font-size: var(--font-size);
  font-weight: var(--font-weight__light);
  line-height: var(--line-height__text);
}

.article-link {
  text-decoration: none;
  text-shadow: 2px 1px 0 var(--accent-color);
}

.article-link:hover {
  text-decoration: underline;
  text-underline-offset: 2px;
}

.article-link:focus {
  outline: none;
}

.article-link:focus-visible {
  outline: 1px solid var(--article-text__color);
}

.gallery-title {
  margin-block-end: 10px;
}

.gallery-grid {
  display: grid;
  gap: 10px;
}

.gallery-picture {
  display: block;
  max-height: 100%;
  max-width: 100%;
}

.footer {
  position: relative;
  height: 400px;
  /* пока оставлю так, чтобы было удобно делать pixel perfect */
  min-block-size: 668px;
  max-block-size: 100vh;
  /* но должно быть так */
  /* min-height: max(100vh, 668px); */
  display: grid;
}

.footer__title {
  align-self: center;
  text-shadow: 2px 2px 0px var(--accent-color);
}